@if (User.Identity.IsAuthenticated)
{
    <span>Hello, @User.Identity.Name</span>
    <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        <input type="submit" value=@nameof(AccountController.Logout) />
    </form>

}
else
{
    <a asp-controller=@nameof(AccountController).Replace("Controller","") asp-action=@nameof(AccountController.Register)>@nameof(AccountController.Register)</a>
    <a asp-controller=@nameof(AccountController).Replace("Controller","") asp-action=@nameof(AccountController.Login)>@nameof(AccountController.Login)</a>
}
