@if (User.Identity.IsAuthenticated)
{
    <div>
        <span style="padding: 0px 7px">Hello, @User.Identity.Name</span>
        <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
            <input class="btn btn-default" type="submit" value=@nameof(AccountController.Logout) />
        </form>
    </div>
}
else
{
    <a class="btn btn-default" asp-controller=@nameof(AccountController).Replace("Controller","") asp-action=@nameof(AccountController.Register)>@nameof(AccountController.Register)</a>
    <a class="btn btn-default" asp-controller=@nameof(AccountController).Replace("Controller","") asp-action=@nameof(AccountController.Login)>@nameof(AccountController.Login)</a>
}
